ipaddress >= 1.0.23
numpy >= 1.24.2
openpyxl >=3.1.3,<=3.1.5
python-pptx >= 0.6.21
tkinterdnd2-universal >= 1.5.0
tkinterdnd2 >= 0.3.0
pyyaml >= 5.4.0
ciscoconfparse >= 1.9.0
networkx >= 3.4.2